:root {

  --light: #ecf0f1;
  --link: #0984e3;
  --error: #e74c3c;

  --npm: #cc2c2c;
  --js: #efd81d;
  --sass: #c76494;
  --bootstrap: #533b78;
  --nodejs: #77b063;

  --xxl: 42px;
  --xl: 35px;
  --lg: 30px;
  --md: 25px;
  --sm: 20px;
  --x-sm: 16px;
}

.f-size-md {
  font-size: var(--md);
}
.f-size-xl {

  font-size: var(--xl);
}
.f-size-xxl {

  font-size: var(--xxl);
}
.f-size-sm {

  font-size: var(--sm);
}
.f-size-x-sm {

  font-size: var(--x-sm);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {

  background-color: var(--light);
}

ul, ol, li {

  list-style-type: none;
  list-style: none;
}

a {
  color: var( --link );
  text-decoration: none;
}

address {
  font-style: normal;
}

h2 {

  font-size: var( --md );
  position: relative;
  font-weight: 600;
  display: inline-block;
  margin: 16px 0;
  letter-spacing: .08rem;
}

.para {
  margin: 1.5vh 0;
  font-size: var( --sm );
  letter-spacing: .06rem;
  line-height: 1.5rem;
}

h2::before {

  content: "";
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  height: 5px;
  width: 100%;

  transform-origin: top left;
  transform: scaleX( .33 );

  background-color: #000;

}

h3 {

  font-weight: 450;
  font-size: var( --sm );
}

.push {

  padding-left: 12px;
}

.primary-text {

  font-size: var( --md );
  letter-spacing: .08rem;
  line-height: 2rem;
}


.gmap-iframe-content {

  border: none;
  outline: none;
}

.gmap-iframe {
  display: none;
}

.gmap-iframe.open {
  display: block;
  position: absolute;
  z-index: 10;
}

.btn, button {

  border: none;
  cursor: pointer;
  padding: 6px 12px;
}

.btn-close {
  background: var( --error );
  color: var( --light );
  font-weight: 600;
}

.btn-primary {

  background: transparent;
  border: 2px solid var( --link );
  color: var( --link );
  font-weight: 600;

  font-size: var( --md );
}

.btn-npm {

  background: transparent;
  border: 2px solid var( --npm );
  color: var( --npm );
  font-weight: 600;

  font-size: var( --xl );
}

.btn-gh {

  background: transparent;
  border: 2px solid rgb( 42,42,42 );
  color: rgb( 42,42,42 );
  font-weight: 600;

  font-size: var( --xl );
}

.btn-li {

  background: transparent;
  border: 2px solid #0073b1;
  color: #0073b1;
  font-weight: 600;

  font-size: var( --xl );
}

.mg-y-3 {

  margin-top: 5px;
  margin-bottom: 5px;
}

.mg-y-5 {

  margin-top: 7px;
  margin-bottom: 7px;
}

.mg-y-7 {

  margin-top: 3px;
  margin-bottom: 3px;
}

a,button,img,span,i, strong {

  display: inline-block;
}

.npm-logo {

  color: var( --npm );
  font-size: var( --xl );
}

.npm-para {
  font-size: var( --md );
}

.npm-para a {

  display: flex;
  align-items: center;
}

.npm-para a span {

  margin: 0 10px;
}

#close-map {

  margin: 3px 0;
}

#wrap-contact {

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: var( --light );
  border: 8px solid rgb( 42,42,42 );
  z-index: 11;
  display: none;
}

#wrap-contact.open {
  display: block;
}

#wrap-contact.pending::before {

  content: "";

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('./../images/loader.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: rgba( 0,0,0,.93 );
}

#form-contact {

  background: rgba( 0,0,0,.065 );
  width: 60%;
  margin: 4vh auto;
  min-width: 300px;
  padding: 8px;
  border-radius: 3px;
  height: 75vh;
  min-height: 200px;
  overflow: auto;
}

#form-contact textarea {

  resize: none;
}

#form-contact .form-field {

  display: flex;
  flex-direction: column;
  margin: 1.42vh 0;
}


.mg-x-3 {

  margin-left: 3px;
  margin-right: 3px;
}

#form-contact .form-field input,
#form-contact .form-field textarea {

  padding: 4px;
  display: inline-block;
  margin: 4px 0;
  border: 1px solid rgb( 62,62,62 );
  outline: none;
  border-radius: 3px;
}

#form-contact .form-field input:focus,
#form-contact .form-field textarea:focus {

  border: 1px solid var( --link );
}

#form-contact .form-field.error input,
#form-contact .form-field.error textarea {

  border: 1px solid var( --npm );
}


#form-contact .form-field label {

  color: rgb( 62,62,62 );
  font-size: var( --sm );
  font-style: italic;
}

/* #form-contact .form-field */

#form-contact .form-field label i {

  color: var( --npm );
  font-size: var( --x-sm );
}

#form-contact {

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

#box-notifications {

  width: 33%;
  min-width: 300px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 15;
}

.flex {

  display: flex;
}

.center-primary {
  justify-content: center;
}

.center-secondary {
  align-items: center;
}

.row-reverse {

  flex-direction: row-reverse;
}

.col-reverse {

  flex-direction: column-reverse;
}

section.exp ul li {

  margin: 8vh 0;
}


section ul li h3 {

  font-size: var( --md );
}


section.exp ul li:first-child {

  margin-top: 0;
}

.divers ul li {

  padding-left: 12px;
}

.icon-npm {

  color: var( --npm );
}

.icon-sass {

  color: var( --sass );
}

.icon-bootstrap {

  color: var( --bootstrap );
}

.icon-nodejs {

  color: var( --nodejs );
  /* font-weight: bold; */
}