header {

  margin: 3vh 0;
}

header .top {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

header .top .name {

  margin-left: 1vw;
  font-size: var(--xl);
}

header .top .name span:first-child {

  font-weight: normal;
}

header .top .name span:last-child {

  font-weight: 600;
}

header .top blockquote {

  font-size: var( --md );
}

header .contact {

  margin: 2vh 0;
  padding: 0 .85vw;
}

header .contact ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  /* align-items: center; */
}

header .contact ul li.address .addr-content {

  cursor: pointer;
}

header .contact ul li {

  margin: 1.2vh 0;
  display: flex;
  align-items: center;
  font-size: var( --sm );
}


header .contact ul li i {

  display: inline-block;
  margin-right: .6vw;
  font-size: var( --md );
}

header .top figure img {
  width: 120px;
  height: auto;
}

header .address {

  color: var(--link);
}

#wrap-gmap {

  background: rgb( 42,42,42 );
  border-radius: 5px;
  padding: 20px;
  border-top-left-radius: 0;
}

#wrap-gmap::before {

  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 20px;
  height: 15px;
  background: rgb(42,42,42);

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@media screen and ( max-width: 900px ), (max-height: 650px) {

  #wrap-gmap::before {

    display: none;
  }

  #wrap-gmap {
    border-radius: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  #wrap-gmap iframe {

    width: 90vw;
    height: 80vh;
  }

  header .top {
    flex-direction: column;
  }

  header .top .name {
    font-size: var(--md);
  }

  header .top blockquote {

    font-size: var( --md );
    margin-bottom: .5vh;
  }

}

@media screen and ( max-width: 600px ), (max-height: 450px) {

  header .top figure {
    display: none;
  }

}
